@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #0303a1;
  background-image: linear-gradient(135deg, #0303a1 68%, #3bf39a 100%);
  color: antiquewhite;
}

.wrapper {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  padding: 30px;
  background-color: transparent
}

.cart-logo {
  background-color: antiquewhite;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: antiquewhite;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: large;
}

.nav-links {
  color: antiquewhite;
  margin-left: 20px;
  text-decoration: none;
  font-style: normal;
  font-size: large;
}

.nav-links:visited {
  color: antiquewhite;
  text-decoration: none;
}

.body-main {
  background-color: transparent;
  min-height: 100vh;
  padding: 20px;
}

.body-content-logreg {
  border: 2px solid #3bf39a;
  background-color: #206899;
  color: white;
  width: 40%;
  min-height: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
}

.body-content-logreg h1 {
  text-align: center;
  margin-bottom: 40px;
}

.body-content-logreg h4 {
  text-align: center;
  color: #3bf39a;
}

.form-labels {
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-input {
  width: 95%;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.hover-button {
  background-color: #0303a1;
  color: antiquewhite;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hover-button:hover {
  background-color: #3bf39a;
  color: #0303a1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logreg-links {
  text-decoration: none;
  font-style: normal;
  color: white;
  align-items: baseline;
}

span {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.body-main-market {
  background-color: transparent;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  justify-content: center;
  border: 2px solid #3bf39a;
  background-color: #206899;
  color: white;
  min-height: 250px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}

.product-details {
  text-align: center;
}

.product-details h2 {
  margin-bottom: 10px;
}

.thumbnail {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.product-buttons {
  background-color: #0303a1;
  color: antiquewhite;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.product-buttons:hover {
  background-color: #3bf39a;
  color: #0303a1;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.product-links {
  color: white;
  text-decoration: none;
  font-style: normal;
}

.product-links:visited {
  color: white;
  text-decoration: none;
}

